<html>
<body class="quarletter landscape">
<section class="sheet padding-5mm">
    <div>
        <img src="images/logo-small.jpg" style="height: 43px; position: relative; left: 100px; top: 10px;" />
        <b style="text-align: center; font-size: 18px; position: relative; left: 108px; top: -12px;">Morning Dew Montessori</b>
        <font style="text-align: center; font-size: 15px; position: relative; left: -100px; top: 5px;">Cainta, Rizal </font>
    </div>
    <div style="padding: 0 10px;">
        <table class="ui fluid table" style="padding: 5px;">
            <tbody>
            <tr>
                <td class="collapsing" style="width: 25px;">&nbsp;&nbsp;&nbsp;Name:</td>
                <td style="border-bottom: 1px black solid;" colspan="4"></td>
                <td class="collapsing" style="width: 25px;">&nbsp;&nbsp;&nbsp;Sex:</td>
                <td style="border-bottom: 1px black solid;"></td>
            </tr>
            <tr>
                <td class="collapsing" style="width: 30px;">&nbsp;&nbsp;&nbsp;Gr./Yr. & Section:</td>
                <td style="border-bottom: 1px black solid;" colspan="4"></td>
                <td class="collapsing" style="width: 25px;">&nbsp;&nbsp;&nbsp;SY:</td>
                <td style="border-bottom: 1px black solid;"></td>
            </tr>
            <tr>
                <td class="collapsing" style="width: 30px;">&nbsp;&nbsp;&nbsp;Plan:</td>
                <td style="border-bottom: 1px black solid;"></td>
                <td class="collapsing" style="width: 40px;">&nbsp;&nbsp;&nbsp;Status:</td>
                <td style="border-bottom: 1px black solid; width: 100px;"></td>
                <td class="collapsing" style="width: 35px;">&nbsp;&nbsp;&nbsp;Session:</td>
                <td style="border-bottom: 1px black solid;" colspan=2 ></td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
</body>
</html>